    <aside id="side-bar">
      <nav>
        <ul>
          <%= link_to "All Events", events_path %>
        </ul>
        <ul>
          <%= link_to "Add New Event", new_event_path %>
        </ul>
      </nav>
    </aside>